icdiff (0.0.20141211-1) %%CODENAME%%; urgency=low

  * Bump version.

icdiff (0.0.20141211) %%CODENAME%%; urgency=low

  * Initial Release.

 -- Gea-Suan Lin (PPA) <gslin@gslin.org>  Sun, 14 Dec 2014 18:58:56 +0800
